[View in Colaboratory](https://colab.research.google.com/github/k-manisha/Assignment-2/blob/k-manisha/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
dummy_list=[3,2,5,2,1,40,5,3,43]

2) print dummy_list

In [44]:
print(dummy_list)

[3, 2, 5, 2, 1, 40, 5, 3, 43]

3) Reverse dummy_list and print

In [45]:
dummy_list.reverse()
print(dummy_list)

[43, 3, 5, 40, 1, 2, 5, 2, 3]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [46]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list= dummy_list +  dummy_list_2
print(dummy_list)

[43, 3, 5, 40, 1, 2, 5, 2, 3, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict={}

In [0]:
dummy_dict= dict.fromkeys(dummy_list,0)

6) print dummy_dict

In [48]:
print(dummy_dict)

{43: 0, 3: 0, 5: 0, 40: 0, 1: 0, 2: 0, 200: 0, 16: 0, 4: 0, 0: 0, 9.45: 0, 45.67: 0, 90: 0, 12.01: 0, 12.02: 0}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [52]:
dummy_list.sort()
print(dummy_list)

print(sorted(dummy_list,reverse=True))

[0, 1, 1, 2, 2, 2, 3, 3, 4, 5, 5, 9.45, 12.01, 12.02, 16, 40, 43, 45.67, 90, 200]
[200, 90, 45.67, 43, 40, 16, 12.02, 12.01, 9.45, 5, 5, 4, 3, 3, 2, 2, 2, 1, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [0]:
x = 2

# Let's play: try the same with something which is not in the list to get the ValueError
dummy_list.remove(x)

9) Remove the item at position x. x is any random integer

In [0]:
# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
x=3
del dummy_list[x]

10) Let's clean everything clear the list and then print

In [38]:
dummy_list.clear()
print(dummy_list)

[]