[View in Colaboratory](https://colab.research.google.com/github/amartyabhattacharya/Assignment-2/blob/amartyabhattacharya/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
import random
dummy_list = []
for i in range(10):
  dummy_list.append(random.randrange(1, 100))

2) print dummy_list

In [3]:
print(dummy_list)

[72, 53, 93, 83, 75, 29, 89, 70, 50, 85]

3) Reverse dummy_list and print

In [5]:
dummy_list.reverse()
print(dummy_list)

[85, 50, 70, 89, 29, 75, 83, 93, 53, 72]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [7]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list += dummy_list_2
print(dummy_list)

[85, 50, 70, 89, 29, 75, 83, 93, 53, 72, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {}

In [0]:
for i in dummy_list:
  dummy_dict[i] = dummy_list.count(i)

6) print dummy_dict

In [10]:
print(dummy_dict)

{85: 1, 50: 1, 70: 1, 89: 1, 29: 1, 75: 1, 83: 1, 93: 1, 53: 1, 72: 1, 2: 1, 200: 1, 16: 1, 4: 1, 1: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [11]:
dummy_list.sort()
print(dummy_list)
dummy_list.sort(reverse = True)
print(dummy_list)

[0, 1, 2, 4, 9.45, 12.01, 12.02, 16, 29, 45.67, 50, 53, 70, 72, 75, 83, 85, 89, 90, 93, 200]
[200, 93, 90, 89, 85, 83, 75, 72, 70, 53, 50, 45.67, 29, 16, 12.02, 12.01, 9.45, 4, 2, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [15]:
x = 1000
dummy_list.remove(x)
print(dummy_list)

# Let's play: try the same with something which is not in the list to get the ValueError

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [16]:
# Let's play try doing the same with x > len(dummy_list) + 1 and see what you get
l = len(dummy_list)
del dummy_list[l+1]
print(dummy_list)

IndexError: ignored

10) Let's clean everything clear the list and then print

In [17]:
dummy_list.clear()
print(dummy_list)

[]