[View in Colaboratory](https://colab.research.google.com/github/vaibhavkumar049/Assignment-2/blob/vaibhavkumar049/Lists.ipynb)

# Exercise - List

1) Create  any random list and assign it to a variable dummy_list

In [0]:
from random import randrange as rg

In [0]:
#import random as rg
rand_list=[]
x=0
while x!=10:
  rand_list.append(rg(1,10))
  x=x+1

2) print dummy_list

In [12]:
print(rand_list)

[3, 5, 6, 9, 9, 2, 8, 2, 3, 4]

3) Reverse dummy_list and print

In [13]:
rand_list.reverse()
print(rand_list)

[4, 3, 2, 8, 2, 9, 9, 6, 5, 3]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [18]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
for i in dummy_list_2:
  rand_list.append(i)
print(rand_list)

[0, 1, 2, 2, 2, 3, 3, 4, 4, 5, 6, 8, 9, 9, 9.45, 12.01, 12.02, 16, 45.67, 90, 200, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [20]:
#dummy_dict={}
#rand_list.sort()
dummy_dict={x:rand_list.count(x) for x in rand_list}

{0: 2, 1: 2, 2: 4, 3: 2, 4: 3, 5: 1, 6: 1, 8: 1, 9: 2, 9.45: 2, 12.01: 2, 12.02: 2, 16: 2, 45.67: 2, 90: 2, 200: 2}

6) print dummy_dict

In [21]:
print(dummy_dict)

{0: 2, 1: 2, 2: 4, 3: 2, 4: 3, 5: 1, 6: 1, 8: 1, 9: 2, 9.45: 2, 12.01: 2, 12.02: 2, 16: 2, 45.67: 2, 90: 2, 200: 2}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [23]:
print(sorted(rand_list))
print(sorted(rand_list,reverse=True))

[0, 0, 1, 1, 2, 2, 2, 2, 3, 3, 4, 4, 4, 5, 6, 8, 9, 9, 9.45, 9.45, 12.01, 12.01, 12.02, 12.02, 16, 16, 45.67, 45.67, 90, 90, 200, 200]
[200, 200, 90, 90, 45.67, 45.67, 16, 16, 12.02, 12.02, 12.01, 12.01, 9.45, 9.45, 9, 9, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 2, 1, 1, 0, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [26]:
x = 200
rand_list.remove(x)

# Let's play: try the same with something which is not in the list to get the ValueError
x = 100
rand_list.remove(x)

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [30]:
rand_list.remove(rand_list[2])

# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get
rand_list.remove(rand_list[200])

IndexError: ignored

10) Let's clean everything clear the list and then print

In [31]:
rand_list.clear()
print(rand_list)

[]