# Numpy Examples

## What is numpy?

#### Python has built-in:

-  containers: lists (costless insertion and append), dictionnaries (fast lookup)
-  high-level number objects: integers, floating point

#### Numpy is:

 - extension package to Python for multidimensional arrays
 - closer to hardware (efficiency)
 - designed for scientific computation (convenience)


#### Import numpy

In [0]:
import numpy as np

### Uncomment Print statement and run each cell to see the output

#### Create numpy arrays

In [0]:
a = np.array([1, 2, 3])   # Create a rank 1 array
#print(a)
#print(type(a)) #print type of a

b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array
#print(b.shape)                     # Prints "(2, 3)"
#print(b[0, 0], b[0, 1], b[1, 0])

#### Some basic functions for creating arrays. Print all the defined arrays and see the results.

In [14]:
a = np.zeros(shape=(2,2))
b = np.ones(shape = (3,3))
c = np.eye(2)
d = np.full(shape=(3,3), fill_value=5)
e = np.random.rand(2,2)

print('a', a)
print('b',b)
print('c',c)
print('d',d)
print('e',e)

a [[0. 0.]
 [0. 0.]]
b [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
c [[1. 0.]
 [0. 1.]]
d [[5 5 5]
 [5 5 5]
 [5 5 5]]
e [[0.24586584 0.3499858 ]
 [0.17469122 0.52028509]]

#### Execute and understand :)

In [20]:
c = np.arange(10)
print(c)
a == c
d = np.linspace(0,10, num=6)
print(d)
b  ==  d
print(a)
print(b)

[0 1 2 3 4 5 6 7 8 9]
[ 0.  2.  4.  6.  8. 10.]
[[0. 0.]
 [0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.

#### Array Indexing

In [23]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]
#print(b)
# A slice of an array is a view into the same data, so modifying it
# will modify the original array.

#print(a[0, 1])   # Prints "2"

b[0, 0] = 77     # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])   # Prints "77"

77

#### Slicing

In [24]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

row_r1 = a[1, :]    # Rank 1 view of the second row of a
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a

#print(row_r1, row_r1.shape)  # Prints "[5 6 7 8] (4,)"
#print(row_r2, row_r2.shape)  # Prints "[[5 6 7 8]] (1, 4)"

col_r1 = a[:, 1]
col_r2 = a[:, 1:2]

#print(col_r1, col_r1.shape)  # Prints "[ 2  6 10] (3,)"
print(col_r2, col_r2.shape)

[[ 2]
 [ 6]
 [10]] (3, 1)

#### Aritmetic operations

In [0]:
x = np.array([[1,2],[3,4]])

#print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
#print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

#### Using Boolean Mask

In [0]:
b = np.arange(10)

print(b)

mask = b%2!=0 #perform computations on the list 

print(mask)

print(b[mask]) #applying the mask on the numpy array

In [0]:
modified_b = b
modified_b[mask] = -1

print(modified_b)

#### Swapping two columns in a 2d numpy array

In [34]:
a = np.arange(9).reshape(3,3)
#print(a)

print(a[:, [1,0,2]])
#print(a)

[[1 0 2]
 [4 3 5]
 [7 6 8]]
[[0 1 2]
 [3 4 5]
 [6 7 8]]

#### Swapping two rows in a 2d numpy array

In [38]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[[1,0,2], :])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[3 4 5]
 [0 1 2]
 [6 7 8]]