In [0]:
#Create any random list and assign it to a variable dummy_list

import random as rd
rand_list = []
for i in range(10):
    rand_list.append(rd.randrange(1, 50))
dummy_list = rand_list

In [2]:
#print dummy_list

print(dummy_list)

[42, 3, 2, 1, 27, 6, 32, 38, 10, 22]

In [0]:
#Reverse dummy_list and print
  
dummy_list.reverse()
print(dummy)

In [5]:
#Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list += dummy_list_2
print(dummy_list)

[42, 3, 2, 1, 27, 6, 32, 38, 10, 22, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

In [0]:
#Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values

dummy_dict = {}
dummy_dict = {x:sorted(dummy_list).count(x) for x in dummy_list}

In [9]:
#print dummy_dict

print(dummy_dict)

{42: 1, 3: 1, 2: 3, 1: 3, 27: 1, 6: 1, 32: 1, 38: 1, 10: 1, 22: 1, 200: 2, 16: 2, 4: 2, 0: 2, 9.45: 2, 45.67: 2, 90: 2, 12.01: 2, 12.02: 2}

In [10]:
#Sort dummy_list in ascending order as well as descending order and print the changed lists

dummy_list.sort()
print(dummy_list)
dummy_list.sort(reverse = True)
print(dummy_list)

[0, 0, 1, 1, 1, 2, 2, 2, 3, 4, 4, 6, 9.45, 9.45, 10, 12.01, 12.01, 12.02, 12.02, 16, 16, 22, 27, 32, 38, 42, 45.67, 45.67, 90, 90, 200, 200]
[200, 200, 90, 90, 45.67, 45.67, 42, 38, 32, 27, 22, 16, 16, 12.02, 12.02, 12.01, 12.01, 10, 9.45, 9.45, 6, 4, 4, 3, 2, 2, 2, 1, 1, 1, 0, 0]

In [0]:
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

x = 200
dummy_list.remove(x)

# Let's play: try the same with something which is not in the list to get the ValueError

x = 100
##dummy_list.remove(x)    raises ValueError: list.reemove(x): x not in list

In [0]:
#Remove the item at position x. x is any random integer

x = rd.randrange(0, len(dummy_list))
print(x)
del dummy_list[x]
print(dummy_list)

# Let's play: try doing the same with x > len(dummy_list) + 1 and see what you get

x = len(dummy_list) + 1
#del dummy_list[x]   #raises IndexError: list assignment index out of range

In [19]:
#Let's clean everything clear the list and then print

del dummy_list[:]
print(dummy_list)

[]