[View in Colaboratory](https://colab.research.google.com/github/sayangdiptochakraborty/Assignment-2/blob/sayangdiptochakraborty/sayangdiptochakraborty.ipynb)

# **Exercise - List**

1) Create any random list and assign it to a variable dummy_list

In [0]:
dummy_list=[5,4,6,8,10,15]

2) print dummy_list

In [2]:
print(dummy_list)

[5, 4, 6, 8, 10, 15]

3) Reverse dummy_list and print

In [3]:
dummy_list.reverse()
print(dummy_list)

[15, 10, 8, 6, 4, 5]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [4]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list=dummy_list+dummy_list_2
print(dummy_list)

[15, 10, 8, 6, 4, 5, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict={}
c=5 #any random integer to store frequency
for i in dummy_list:
  dummy_dict[i]=c*c
  c=c+1 #changing the random integer

6) print dummy_dict

In [6]:
print(dummy_dict)

{15: 25, 10: 36, 8: 49, 6: 64, 4: 196, 5: 100, 2: 121, 200: 144, 16: 169, 1: 225, 0: 256, 9.45: 289, 45.67: 324, 90: 361, 12.01: 400, 12.02: 441}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [7]:
#sorting in ascending order 
#since the list is a mixture of words and numbers lexicographical order is followed
dummy_list.sort()
print(dummy_list)
#sorting in descending order 
#since the list is a mixture of words and numbers reverse lexicographical order is followed
dummy_list.sort(reverse=True)
print(dummy_list)

[0, 1, 2, 4, 4, 5, 6, 8, 9.45, 10, 12.01, 12.02, 15, 16, 45.67, 90, 200]
[200, 90, 45.67, 16, 15, 12.02, 12.01, 10, 9.45, 8, 6, 5, 4, 4, 2, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [0]:
x=200
dummy_list.remove(x)

9) Remove the item at position x. x is any random integer

In [0]:
del dummy_list[6]
#when index is > len(dummy_list)
#IndexError: list assignment index out of range

10) Let's clean everything clear the list and then print

In [10]:
del dummy_list[:]
print(dummy_list)

[]

# Numpy Examples

## What is numpy?

#### Python has built-in:

-  containers: lists (costless insertion and append), dictionnaries (fast lookup)
-  high-level number objects: integers, floating point

#### Numpy is:

 - extension package to Python for multidimensional arrays
 - closer to hardware (efficiency)
 - designed for scientific computation (convenience)


#### Import numpy

In [0]:
import numpy as np

### Uncomment Print statement and run each cell to see the output

#### Create numpy arrays

In [12]:
a = np.array([1, 2, 3])   # Create a rank 1 array
print(a)
print(type(a)) #print type of a

b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array
print(b.shape)                     # Prints "(2, 3)"
print(b[0, 0], b[0, 1], b[1, 0])

[1 2 3]
<class 'numpy.ndarray'>
(2, 3)
1 2 4

#### Some basic functions for creating arrays. Print all the defined arrays and see the results.

In [13]:
a = np.zeros(shape=(2,2))
b = np.ones(shape = (3,3))
c = np.eye(2)
d = np.full(shape=(3,3), fill_value=5)
e = np.random.random((2,2))

print('a', a)
print('b',b)
print('c',c)
print('d',d)
print('e',e)

a [[0. 0.]
 [0. 0.]]
b [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
c [[1. 0.]
 [0. 1.]]
d [[5 5 5]
 [5 5 5]
 [5 5 5]]
e [[0.96076191 0.11389891]
 [0.16227502 0.67867595]]

#### Execute and understand :)

In [14]:
a  =  np.arange(10)
b  =  np.linspace(0,10, num=6)
print(a)
print(b)

[0 1 2 3 4 5 6 7 8 9]
[ 0.  2.  4.  6.  8. 10.]

#### Array Indexing

In [15]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]

# A slice of an array is a view into the same data, so modifying it
# will modify the original array.

print(a[0, 1])   # Prints "2"

b[0, 0] = 77     # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])   # Prints "77"

2
77

#### Slicing

In [16]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

row_r1 = a[1, :]    # Rank 1 view of the second row of a
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a

print(row_r1, row_r1.shape)  # Prints "[5 6 7 8] (4,)"
print(row_r2, row_r2.shape)  # Prints "[[5 6 7 8]] (1, 4)"

col_r1 = a[:, 1]
col_r2 = a[:, 1:2]

print(col_r1, col_r1.shape)  # Prints "[ 2  6 10] (3,)"
print(col_r2, col_r2.shape)

[5 6 7 8] (4,)
[[5 6 7 8]] (1, 4)
[ 2  6 10] (3,)
[[ 2]
 [ 6]
 [10]] (3, 1)

#### Aritmetic operations

In [17]:
x = np.array([[1,2],[3,4]])

print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

10
[4 6]
[3 7]

#### Using Boolean Mask

In [18]:
b = np.arange(10)

print(b)

mask = b%2!=0 #perform computations on the list 

print(mask)

print(b[mask]) #applying the mask on the numpy array

[0 1 2 3 4 5 6 7 8 9]
[False  True False  True False  True False  True False  True]
[1 3 5 7 9]

In [19]:
modified_b = b
modified_b[mask] = -1

print(modified_b)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

#### Swapping two columns in a 2d numpy array

In [20]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[:, [1,0,2]])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[1 0 2]
 [4 3 5]
 [7 6 8]]

#### Swapping two rows in a 2d numpy array

In [21]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[[1,0,2], :])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[3 4 5]
 [0 1 2]
 [6 7 8]]