# **List**

1) Create any random list and assign it to a variable dummy_list

In [0]:
dummy_list = [1, 2, 3]

2) print dummy_list

In [2]:
print(dummy_list)

[1, 2, 3]

3) Reverse dummy_list and print

In [3]:
dummy_list.reverse()
print(dummy_list)

[3, 2, 1]

4) Add the list dummy_list_2 to the previous dummy_list and now print dummy_list

In [4]:
dummy_list_2 = [2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]
dummy_list.extend(dummy_list_2)
print(dummy_list)

[3, 2, 1, 2, 200, 16, 4, 1, 0, 9.45, 45.67, 90, 12.01, 12.02]

5) Create a dictionary named dummy_dict which contains all the elements of dummy_list as keys and frequency as values.

In [0]:
dummy_dict = {}
for i in range(len(dummy_list)):
  x=dummy_list.count(dummy_list[i])
  dummy_dict.update({dummy_list[i]:x})

6) print dummy_dict

In [7]:
print (dummy_dict)

{3: 1, 2: 2, 1: 2, 200: 1, 16: 1, 4: 1, 0: 1, 9.45: 1, 45.67: 1, 90: 1, 12.01: 1, 12.02: 1}

7) Sort dummy_list in ascending order as well as descending order and print the changed lists

In [8]:
dummy_list.sort()
print(dummy_list)
dummy_list.reverse()
print(dummy_list)

[0, 1, 1, 2, 2, 3, 4, 9.45, 12.01, 12.02, 16, 45.67, 90, 200]
[200, 90, 45.67, 16, 12.02, 12.01, 9.45, 4, 3, 2, 2, 1, 1, 0]

8) Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

In [10]:
x=200
dummy_list.remove(x)
print(dummy_list)
#y=300
#dummy_list.remove(y)
#print(dummy_list)

ValueError: ignored

9) Remove the item at position x. x is any random integer

In [12]:
x=2
dummy_list.pop(x)  
print(dummy_list)

IndexError: ignored

10) Let's clean everything clear the list and then print

In [13]:
dummy_list.clear()
print(dummy_list)

[]

# Numpy **Example**s

Import numpy

In [0]:
import numpy as np

Create numpy arrays

In [15]:
a = np.array([1, 2, 3])   # Create a rank 1 array
print(a)
print(type(a)) #print type of a

b = np.array([[1,2,3],[4,5,6]])    # Create a rank 2 array
print(b.shape)                     # Prints "(2, 3)"
print(b[0, 0], b[0, 1], b[1, 0])

[1 2 3]
<class 'numpy.ndarray'>
(2, 3)
1 2 4

Some basic functions for creating arrays. Print all the defined arrays and see the results.

In [16]:
a = np.zeros(shape=(2,2))
b = np.ones(shape = (3,3))
c = np.eye(2)
d = np.full(shape=(3,3), fill_value=5)
e = np.random.random((2,2))

print('a', a)
print('b',b)
print('c',c)
print('d',d)
print('e',e)

a [[0. 0.]
 [0. 0.]]
b [[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]
c [[1. 0.]
 [0. 1.]]
d [[5 5 5]
 [5 5 5]
 [5 5 5]]
e [[0.0282744  0.69387376]
 [0.59790883 0.80746093]]

Execute and understand :)

In [17]:
a  ==  np.arange(10)
b  ==  np.linspace(0,10, num=6)
print(a)
print(b)

[[0. 0.]
 [0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.

Array Indexing

In [18]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]

# A slice of an array is a view into the same data, so modifying it
# will modify the original array.

print(a[0, 1])   # Prints "2"

b[0, 0] = 77     # b[0, 0] is the same piece of data as a[0, 1]
print(a[0, 1])   # Prints "77"

2
77

Slicing

In [19]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

row_r1 = a[1, :]    # Rank 1 view of the second row of a
row_r2 = a[1:2, :]  # Rank 2 view of the second row of a

print(row_r1, row_r1.shape)  # Prints "[5 6 7 8] (4,)"
print(row_r2, row_r2.shape)  # Prints "[[5 6 7 8]] (1, 4)"

col_r1 = a[:, 1]
col_r2 = a[:, 1:2]

print(col_r1, col_r1.shape)  # Prints "[ 2  6 10] (3,)"
print(col_r2, col_r2.shape)

[5 6 7 8] (4,)
[[5 6 7 8]] (1, 4)
[ 2  6 10] (3,)
[[ 2]
 [ 6]
 [10]] (3, 1)

Aritmetic operations

In [20]:
x = np.array([[1,2],[3,4]])

print(np.sum(x))  # Compute sum of all elements; prints "10"
print(np.sum(x, axis=0))  # Compute sum of each column; prints "[4 6]"
print(np.sum(x, axis=1))  # Compute sum of each row; prints "[3 7]"

10
[4 6]
[3 7]

Using Boolean Mask

In [21]:
b = np.arange(10)

print(b)

mask = b%2!=0 #perform computations on the list 

print(mask)

print(b[mask]) #applying the mask on the numpy array

[0 1 2 3 4 5 6 7 8 9]
[False  True False  True False  True False  True False  True]
[1 3 5 7 9]

In [22]:
modified_b = b
modified_b[mask] = -1

print(modified_b)

[ 0 -1  2 -1  4 -1  6 -1  8 -1]

Swapping two columns in a 2d numpy array

In [23]:
a = np.arange(9).reshape(3,3)
print(a)

print(a[:, [1,0,2]])

[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[1 0 2]
 [4 3 5]
 [7 6 8]]

Swapping two rows in a 2d numpy array

In [24]:
a = np.arange(9).reshape(3,3)
print(a)

print(arr[[1,0,2], :])

[[0 1 2]
 [3 4 5]
 [6 7 8]]

NameError: ignored

# **Numpy Exercises**

1) Create a uniform subdivision of the interval -1.3 to 2.5 with 64 subdivisions

In [0]:
import numpy as np
a=np.linspace(-1.3,2.5,64)

2) Generate an array of length 3n filled with the cyclic pattern 1, 2, 3

In [0]:
n=15
a=np.array([1,2,3])
a=np.resize(a,n)

3) Create an array of the first 10 odd integers.

In [30]:
a=np.arange(1,20,2)
print(a)

[ 1  3  5  7  9 11 13 15 17 19]

4) Find intersection of a and b

In [35]:
a=np.array([1,2,3,4,5,6,7,8,9,12])
b=np.array([10,11,12,13,14,7,8,9,20])
np.intersect1d(a,b)

array([ 7,  8,  9, 12])

5) Reshape 1d array a to 2d array of 2X5

In [36]:
a=np.arange(10).reshape(2,5)
print(a)

[[0 1 2 3 4]
 [5 6 7 8 9]]

6) Create a numpy array to list and vice versa

In [0]:
a=np.array([[1,2],[3,4]])
a1=a.tolist()

b1=[[1,2],[3,4]]
b=np.asarray(b1)

7) Create a 10 x 10 arrays of zeros and then "frame" it with a border of ones.

In [45]:
a=np.zeros(shape=(10,10))
a[0,:]=1
a[9,:]=1
a[:,0]=1
a[:,9]=1
print(a)

[[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 0. 0. 0. 0. 0. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]]

8) Create an 8 x 8 array with a checkerboard pattern of zeros and ones using a slicing+striding approach.

In [42]:
a=np.zeros((8,8),dtype=int)
a[1::2,::2]=1
a[::2,1::2]=1
print(a)

[[0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]
 [0 1 0 1 0 1 0 1]
 [1 0 1 0 1 0 1 0]]